@charset "utf-8";
.parrafos {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #CCC;
	text-align: justify;
}
.subtitulos {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	color: #6F0;
}
